.galleryDiego {
  display: grid;
  grid-gap: 20px;
  padding: 1vw;
}

.galleryDiego::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.galleryDiego > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media all and (min-width: 320px) {
  .galleryDiego {
    grid-template-columns: repeat(1, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
}

@media all and (min-width: 768px) {
  .galleryDiego {
    grid-template-columns: repeat(3, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
}

@media all and (min-width: 1024px) {
  .galleryDiego {
    grid-template-columns: repeat(6, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
}

.main-head {
  color: black;
}

.active {
  color: green;
}

.selected {
  outline: 5px solid black;
  outline-offset: -4px;
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.downloadIcon {
  width: 10%;
  height: 10%;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.iconContainer {
  position: relative;
}
